{{! /event/:id }}

<h1>{{data.title}}</h1>
<p>{{data.location}}</p>
<p>{{data.street}}</p>
<p>{{data.city}}</p>
<p>{{data.zip}}</p>
<p>{{data.start_date}}</p>
<p>{{data.end_date}}</p>
<p>{{data.start_time}}</p>
<p>{{data.end_time}}</p>
