{{! /event/:id }}

<script>
  events = {{{events}}}
</script>

<h1>{{eventsRender.title}}</h1>
<p>{{eventsRender.location}}</p>
<p>{{eventsRender.street}}</p>
<p>{{eventsRender.city}}</p>
<p>{{eventsRender.zip}}</p>
<p>{{eventsRender.start_date}}</p>
<p>{{eventsRender.end_date}}</p>
<p>{{eventsRender.start_time}}</p>
<p>{{eventsRender.end_time}}</p>


<div id="map" style="height: 200px;"></div>
