{{! /event/:id }}

<script>
  events = {{{events}}}
</script>

<h1>{{events.title}}</h1>
<p>{{events.location}}</p>
<p>{{events.street}}</p>
<p>{{events.city}}</p>
<p>{{events.zip}}</p>
<p>{{events.start_date}}</p>
<p>{{events.end_date}}</p>
<p>{{events.start_time}}</p>
<p>{{events.end_time}}</p>


<div id="map" style="height: 200px;"></div>
