{{! /:id/dashboard }}

<div>
  <h1>Dashboard</h1>
  <h4>for</h4>
  <h2>{{data.organization_name}}</h2>
</div>

<div>
  <h3>User Account Profile</h3>
    <p>Registered website is {{data.website}}</p>
    <p>Registered contact is {{data.contact}}</p>
    <p>Registered email is {{data.email}}</p>
    <p>Registered address is:{{data.street}} {{data.city}}, {{data.state}} {{data.zip}}</p>
    <p>Registered phone number is {{data.phone_number}}</p>
    <p>About: {{data.about}}</p>
    <a href="/organization/view/{{data.id}}">View Your Organization's Profile</a>
</div>

<!-- **************  BUILD OUT THESE ROUTES & CREATE QUERIES  ************** -->
<div>
  <h3>Edit Your User Account</h3>
    <a href="/organization/username/update/{{data.id}}">Edit Your Username</a>
    <a href="/organization/password/update/{{data.id}}">Edit Your Password</a>
    <a href="/organization/profile/update/{{data.id}}">Update Your Profile</a>
    <a href="/organization/delete/{{data.id}}">Delete Your Account</a> <!-- should confirm delete before deleting-->
</div>
<!-- ****************************************************** -->

<div>
  <h3>Do Something</h3>
    <a href="/event/new">Create A New Event</a>
    <a href="/volunteer">Browse Volunteers</a>
</div>


<!-- **************  FIX THIS ELEMENT: KNEX QUERY FOR ALL EVENTS ORG HAS PLANNED  ************** -->
<!-- **************  ADD BUTTON TO EACH EVENT: ONE TO DELETE & ONE TO UPDDATE  ************** -->
<!-- **************  CREATE ROUTES FOR THE DELETE & UPDDATE EVENT ITEM  ************** -->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row" id="form">
        <form class="city-input" action="index.html" method="post" id="eventForm">
          <input type="submit" name="submit" value="Submit" class="form">
          <input type="text" name="city" value="city" placeholder="City" class="form">
        </form>
        <h1>All Organized Events</h1>
      </div>
      <div class="row">
          {{#each data}}
            <div class="event-list">
              <a href='/event/view/{{id}}'>
                <h2 class="event-list-names">{{title}}</h2>
              </a>
              <h3 class="event-list-city">{{city}}, {{state}}</h3>
            </div>
          {{/each}}
      </div>
    </div>
  </div>
</div>
<!-- **************************************************************************************** -->
