{{! /volunteer/:id }}

<div>
  <h1>Dashboard</h1>
  <h4>for</h4>
  <h2>{{data.first_name}} {{data.last_name}}</h2>
</div>


<div>
  <h3>User Account Profile</h3>
  UserID: {{data.id}}
  Username: {{data.user_name}}
  Username: {{data.user_name}}

Email: {{data.email}}
Phone Number: {{data.phone_number}}
Registered Location: {{data.city}}, {{data.state}}


About: {{data.about}}
<a href="/volunteer/view/{{data.id}}">View Your Profile</a>
</div>


<!-- **************  BUILD OUT THESE ROUTES & CREATE QUERIES  ************** -->
<div>
  <h3>Edit Your User Account</h3>
    <a href="/volunteer/username/update/{{data.id}}">Edit Your Username</a>
    <a href="/volunteer/password/update/{{data.id}}">Edit Your Password</a>
    <a href="/volunteer/profile/update/{{data.id}}">Update Your Profile</a>
    <a href="/volunteer/delete/{{data.id}}">Delete Your Account</a> <!-- should confirm delete before deleting-->
</div>
<!-- ****************************************************** -->

<div>
  <h3>Do Something</h3>
    <a href="/organization">Browse Organizations</a>
    <a href="/event">Browse Events</a>
</div>

<!-- **************  FIX THIS ELEMENT: KNEX QUERY FOR ALL EVENTS VOL IS SIGNED UP FOR  ************** -->
<!-- **************  ADD BUTTON TO EACH EVENT: ONE UNREGISTER EVENT DETAILS  ************** -->
<!-- **************  CREATE ROUTES FOR THE DELETE & UPDDATE EVENT ITEM  ************** -->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row" id="form">
        <form class="city-input" action="index.html" method="post" id="eventForm">
          <input type="submit" name="submit" value="Submit" class="form">
          <input type="text" name="city" value="city" placeholder="City" class="form">
        </form>
        <h1>Registered Events</h1>
      </div>
      <div class="row">
          {{#each data}}
            <div class="event-list">
              <a href='/event/view/{{id}}'>
                <h2 class="event-list-names">{{title}}</h2>
              </a>
              <h3 class="event-list-city">{{city}}, {{state}}</h3>
            </div>
          {{/each}}
      </div>
    </div>
  </div>
</div>
<!-- **************************************************************************************** -->
