{{! /volunteer }}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<select class="causeDropdown">
  {{#each data}}
  <option value="{{name}}">{{name}}</option>
  {{/each}}
</select>

<form class="cityInput" action="index.html" method="post">
  <input type="text" name="city" value="city" placeholder="City">
  <input type="submit" name="submit" value="Submit" />
</form>

<div class='container'>
  <div class='row'>
    <div class ='col-md-10'>
      <ul id='volunteerList'>
        {{#each data}}
          <li>
            <div>
              <a href='/volunteer/{{id}}'>
                <h2>{{user_name}}</h2>
                </a>
              <h3>{{city}}, {{state}}</h3>
          </div>
        {{/each}}
    </div>
  </div>
</div>
