{{! /volunteer }}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class='container'>
  <div class='row'>
    <div class ='col-md-10'>
      <ul id='volunteerList'>
        {{#each data}}
          <li>
            <div>
              <a href='/volunteer/{{id}}'>
                <h2>{{user_name}}</h2>
                </a>
              <h3>{{city}}</h3>
          </div>
        {{/each}}
    </div>
  </div>
</div>
